@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet"');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #22D4FD;
    --cor-hover: #272727;
    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif; }
    /* adicionando elemento raiz do HTML com root e definindo as cores em variáveis CSS */
    * {
    margin: 0;
    padding: 0;
} 
/* alterações do box model (padrão da página) , resetar o css */

body {
box-sizing: border-box;
background-color: var(--cor-primaria);
color: var(--cor-secundaria);
}

.cabeçalho  {
padding: 2% 0%  0% 15%;
}

.cabeçalho__menu{
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.cabeçalho_menu_link {
font-family: 'Montserrat', sans-serif;
font-size: 1.5rem;
font-weight: 600;
color: #22D4FD;
text-decoration: none;

}

.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    gap:82px;

}

.apresentacao__conteudo {
    width:50%;
    display:flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
}
/* alterando de px pra rem para a tela se adequar as preferências visuais do navegador
 definidas pelo usuário*/

.titulo-destaque {
    /*classe do html no css*/
    color:var(--cor-terciaria); 
    }
   
.apresentacao__conteudo__texto {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
}
.apresentacao__links{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}
.apresentacao__links__botoes {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
}
.apresentacao__links__botoes:hover {
background-color: var(--cor-hover);

}
.apresentacao_img {
width: 50%;

}
.rodape{
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    padding: 24px;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
}
 @media(max-width: 1200px ){

 .cabeçalho {
    padding: 10%;
}

 .cabeçalho__menu {

    justify-content: center;
}

.apresentacao {
    flex-direction: column-reverse;
}
 }
/* utilização de media queries para adaptar a página em dispositivos menores  */

